.azeret-mono-title 
{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
}

/* nav Styles */
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

.nav-title
{
    font-weight: bolder;
    font-size: 28px;
}

nav ul li
{
    list-style: none;
}

/* button Styles */
.btn-primary
{
    background-color: white;
    font-weight: 300;
    font-size: 20px;
    color: black;
    padding: 10px 25px;
    border-radius: 5px;
}

.btn-contact-me
{
    background-color: black;
    font-weight: 300;
    font-size: 20px;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
}

/* banner styles */
.banner {
    background-image: url('../images/Hero-bg.png');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 652px;
}

.banner-content 
{
    max-width: 800px;
}

/* section styles */
.secondary-bg
{
    background-color: #E7ECFF;
}

.section-title
{
    font-weight: bolder;
    font-size: 25px;
    color: #0D1321;
    text-align: center;
    margin-top: 32px;
    padding-top: 50px;
}

.section-description
{
    font-weight: normal;
    font-size: 14px;
    color: #0D1321;
    text-align: center;
    padding: 0px 320px;
    margin-bottom: 70px;
}

.section-info
{
    border-radius: 10px;
    max-width: 1400px;
}

main
{
    max-width: 1440px;
    margin: 0 auto;
}

main section
{
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

/* info card section */
.info-card-section
{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.info-card
{
    background-color: white;
    border-radius: 8px;
    display: flex;
    max-width: 1000px;
    overflow: hidden;
    padding: 20px 30px;
}

.info-card-content
{
    padding: 10px 25px 10px 20px;
    font-weight: 100;
    font-size: 13px;
    line-height: 2.0;
}

.info-card-image
{
    padding: 10px 25px 10px 30px;
}

/* iFrame style */
.iFrame-section
{
    display: flex;
    justify-content: center;
    border: #0D1321;
}

/* current target container style */
.current-target-container
{
    display: flex;
    gap: 30px;
}

.current-target
{
    border-radius: 8px;
    width: 33.33%;
    padding: 15px 25px;
}

.current-target a
{
    font-weight: bold;
}

/* next target container */
.next-target-container
{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 10px;
}

.next-target
{
    background-color: white;
    border-radius: 8px;
    display: flex;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.06);
    border: 1px solid rgb(168, 168, 168);
    width: 100%;
}

.next-target-content
{
    padding: 10px 25px 10px 20px;
    font-weight: 100;
    font-size: 13px;
    line-height: 2.0;
}

.next-target a
{
    font-weight: bold;
}

/* support section style */
.support {
    background-image: url('../images/handshake.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1400px;
    height: 655px;
}

.support-content p, h1
{
    color: white;
    max-width: 800px;
}

.support-input
{
    max-width: 800px;
}

.support-input-field
{
    width: 400px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
}

/* footer styles */
.footer-bg
{
    background-color: #cdced1c3;
}

.footer-bg p
{
    font-weight: bold;
    padding-left: 250px;
}

.footer-content
{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    align-items: center;
}